<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-secrets" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SecretsPlugin</name>
    <js-module name="SecretsPlugin" src="www/SecretsPlugin.js">
        <clobbers target="cordova.plugins.SecretsPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SecretsPlugin">
                <param name="android-package" value="cordova-plugin-secrets.SecretsPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/SecretsPlugin.java" target-dir="src/cordova-plugin-secrets/SecretsPlugin" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="SecretsPlugin">
                <param name="ios-package" value="SecretsPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/SecretsPlugin.m" />
    </platform>
</plugin>